.stream-view {
    display: grid | inline-grid;
}

.stream-view__main-video-player {
   
    min-width: 70%; 
    min-height: 70%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

.stream-view__chat {
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    color: black;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: span col4-start;
    grid-row-start: 2;
    grid-row-end: span 2;
}

.chat__container {
    padding: 65px;
    margin-top: 300px;
    border: 2px solid #36FBCB;
    border-radius: 50%;
    
}

.container__content {
    color: #36FBCB;
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

.stream-view__meta-data {
    position: absolute;
    top: 70px;
    left: 70px;
    color: white;
}

.stream-cards {
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, 210px));
    width: 80%;
    padding: 15px;
    grid-gap: 10px;
}

.side-video-player-container__side-video-player-one {
    right: 40px; 
    top: 80px;
    position: absolute; 
    max-width:  20%;
    max-height: 20%;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

.side-video-player-container__side-video-player-two {
    right: 40px;
    top: 250px;
    position: absolute; 
    max-width:  20%;
    max-height: 20%;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

.side-video-player-container__side-video-player-three {
    right: 40px; 
    top: 420px;
    position: absolute; 
    max-width:  20%;
    max-height: 20%;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

.stream-view__title {
    
}

.stream-view__description {
    margin-bottom: 100px;
}

.stream-view__team-title {
    color: #36FBCB;
    font-size: 30px;
    font-family: 'Exo 2', sans-serif;
    margin-left: 20px;
}