.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: auto;
    width: 80%;
    padding: 15px;
}

.title {
    margin-left: 165px;
    color: white;
}