.cirlce-button-container {
    padding-bottom: 30px;
    margin-bottom: 40px;
    margin-right: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.cirlce-button-container__button {
    color: white;
    background-color: #36FBCB;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 64px;
    height: 70px;
    width: 70px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cirlce-button-container__button:hover {
    color: #36FBCB;
    cursor: pointer;
    background-color:white;
    box-shadow: none;
  }

.button__text {
    margin-bottom: 10px;
}

.notice {
    position: absolute;
    top: 110px;
    right: 80px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    color: #36FBCB;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.notice__server-name {
    color: purple;
}

.notice__fun-text {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

