@import url('https://fonts.googleapis.com/css?family=Exo+2');

header {
    background-color: #36FBCB;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

nav {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    max-width: 1620px;
    margin: auto;
}

.logo {
    grid-area: logo;
    color: white;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

header input {
    grid-area: search;
    color: black;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-size: 12px;
    border: none;
    height: 30px;
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 10px;
}

.profile {
    grid-area: profile;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.login-text {
    color: white;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    margin-right: 10px;
}