@import url('https://fonts.googleapis.com/css?family=Exo+2');

header {
    background-color: #36FBCB;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 1;
}

nav {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    max-width: 1620px;
    margin: auto;
}

.logo {
    grid-area: logo;
    color: white;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    transition: transform .2s;
}

.logo:hover {
    transform: scale(1.1);
}

.search-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.search-form__search-input {
    color: black;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-size: 12px;
    border: none;
    height: 30px;
    width: 100%;
    padding-left: 10px;
}

.profile {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    transition: transform .2s;
}
.profile:hover {
    transform: scale(1.1);
}

.login-text {
    color: white;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    margin-right: 10px;
}

.login-container {
    display: flex;
}

.login-container__logout-button-container {
    flex-direction: column;
    margin: auto;
    margin-left: 20px;
}

.logout-button-container__button {
    background-color: white ;
    color: #36FBCB;
    height: 30px;
    width: 80px;
    cursor: pointer;
}

.logout-button-container__button:hover {
    background-color: #36FBCB;
    color: white;
}


