header img {
    height: 80px;
    margin-left: 40px;
}


main {
    color: white;
}

header {
    background-color: #080808;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    z-index: 1;
    margin-left: 235px;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
}