.stream-card {
  position: relative;
  width: 200px;
  transition: transform .2s;
  background: black;
}

.stream-card .stream-card__container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  display: none;
  color: #FFF;
  display: block;
  background: rgba(0, 0, 0, .6);
  padding-left: 10px;
}