button {
  border: none;
}

button:focus {
  outline: none;
}

.team-card {
  position: relative;
  width: 350px;
  transition: transform .2s;
}

.team-card img {
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.team-card .team-card__container {
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 30%;
  display: none;
  color: #FFF;
  display: block;
  background: rgba(0, 0, 0, .6);
  border-radius: 0 0 10px 10px;
}

.team-card:hover {
  transform: scale(1.1);
}

.team-card__edit-button-container {
  top: 0;
  right: 0;
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
}

.team-card__delete-button-container {
  top: 50px;
  right: 0;
  position: absolute;
  margin-right: 10px;
}

.edit-button-container__button {
    color: white;
    width: 70px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    background-color:#36FBCB;
}

.delete-button-container__button {
    color: white;
    width: 70px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    background-color: red;
}

.edit-button-container__button:hover {
  color: #36FBCB;
  cursor: pointer;
  background-color:white;
}

.delete-button-container__button:hover {
  color: red;
  cursor: pointer;
  background-color:white;
}

.team-card__container h4 {
  margin-left: 10px;
  margin-bottom: 10px;
}