button {
  border: none;
}

button:focus {
  outline: none;
}

.team-card {
  position: relative;
  width: 350px;
  transition: transform .2s;
  background: black;
}

.team-card img {
  height: 250px;
  border-radius: 10px;
}

.team-card .team-card__container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  display: none;
  color: #FFF;
  display: block;
  background: rgba(0, 0, 0, .6);
  padding-left: 10px;
}

.team-card:hover {
  transform: scale(1.1);
}

.team-card__edit-button-container {
  top: 0;
  right: 0;
  position: absolute;
  margin-top: 10px;
  margin-right: 10px;
}

.edit-button-container__button {
    color: white;
    width: 70px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    background-color:#36FBCB;
}

.edit-button-container__button:hover {
  color: #36FBCB;
  cursor: pointer;
  background-color:white;
}